In [120]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [59]:
df = pd.read_csv('bug-attraction.csv')

In [60]:
df.head()

,Light Type,Model Lamp,Location,Site,Standardized Moon,Standardized Mean Temp,Standardized Mean Humidity,Standardized Max Wind,% Moon Visible,Start Tem,End Temp,Mean Temp,Humid Start,Humid End,Mean Humidity,Max Wind,Illumination,Diptera,Hymenoptera,Hemiptera,Psocoptera,Coleoptera,Collembola,Arachnid,Thysanura,Isoptera,Lepidoptera,Neuroptera,Larave,Orthoptera,Unident,Total,Other Orders
0,A,3500 Custom,BG,B3,0.92436,0.448718,0.628571,0.0,93.0,18.3,15.0,16.65,61,65,63.0,0.0,1675,23.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,1.0
1,B,2700 Custom,BG,B4,0.92436,0.448718,0.628571,0.0,93.0,18.3,15.0,16.65,61,65,63.0,0.0,1145,21.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,2.0
2,C,2700 Custom,BG,B2,0.92436,0.448718,0.628571,0.0,93.0,18.3,15.0,16.65,61,65,63.0,0.0,1830,8.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,11.0,3.0
3,LED,LED,BG,B5,0.92436,0.448718,0.628571,0.0,93.0,18.3,15.0,16.65,61,65,63.0,0.0,275,4.0,0.0,1.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,5.0
4,CFL,CFL,BG,B1,0.92436,0.448718,0.628571,0.0,93.0,18.3,15.0,16.65,61,65,63.0,0.0,253,2.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,4.0

In [61]:
pd.set_option('display.max_columns', None)

In [63]:
# Veri setindeki boş değerlerin toplamını, verilerin sayısına bölerek yüzdesini alıyoruz
nan_percentage = df.isna().sum() / df.count() * 100

# Boş verilerin toplam sayısını belirledik
nan_count = df.isna().sum()

# Boş verilerin toplamını ve yüzdelik halini tablo haline getirdik. Axis = 0 satırlar için, Axis = 1 sütunlar için
nan_table = pd.concat([nan_count, nan_percentage], axis=1)

# Tablonun sütunlarının isimlerini belirledik
nan_table.columns = ['Count', 'Percentage']
nan_table

                            Count  Percentage
Light Type                      0    0.000000
Model Lamp                      0    0.000000
Location                        0    0.000000
Site                            0    0.000000
Standardized Moon               0    0.000000
Standardized Mean Temp          0    0.000000
Standardized Mean Humidity      0    0.000000
Standardized Max Wind           0    0.000000
% Moon Visible                  0    0.000000
Start Tem                       0    0.000000
End Temp                        0    0.000000
Mean Temp                       0    0.000000
Humid Start                     0    0.000000
Humid End                       0    0.000000
Mean Humidity                   0    0.000000
Max Wind                        0    0.000000
Illumination                    0    0.000000
Diptera                         1    0.523560
Hymenoptera                     1    0.523560
Hemiptera                       1    0.523560
Psocoptera                      1    0.523560
Coleoptera                      1    0.523560
Collembola                      2    1.052632
Arachnid                        1    0.523560
Thysanura                       1    0.523560
Isoptera                        1    0.523560
Lepidoptera                     1    0.523560
Neuroptera                      1    0.523560
Larave                          1    0.523560
Orthoptera                      1    0.523560
Unident                         1    0.523560
Total                           1    0.523560
Other Orders                    2    1.052632

In [64]:
unique_values = {col: df[col].unique() for col in df.columns}


for col, values in unique_values.items():
    print(f"Sütun '{col}' için eşsiz değerler: {values}")

Sütun 'Light Type' için eşsiz değerler: ['A' 'B' 'C' 'LED' 'CFL' 'No']
Sütun 'Model Lamp' için eşsiz değerler: ['3500 Custom' '2700 Custom' 'LED' 'CFL' 'No' 'LED2' 'CFL2']
Sütun 'Location' için eşsiz değerler: ['BG' 'Stunt' 'LK']
Sütun 'Site' için eşsiz değerler: ['B3' 'B4' 'B2' 'B5' 'B1' 'B6' 'S3' 'S2' 'S1' 'S6' 'S4' 'S5' 'L3' 'L2'
 'L1' 'L6' 'L4' 'L5']
Sütun 'Standardized Moon' için eşsiz değerler: [0.9243604  0.7753059  0.67630701 0.40934371 0.18353726 0.0756396
 0.         0.08453838 0.28809789 0.86318131 0.96996663 0.68743048
 0.19688543 0.10789766 0.30478309 0.52502781 0.61735261 0.72191324
 0.88431591 0.99888765 0.99443826 0.9621802  0.90656285 0.82091212
 0.61512792 0.49054505 0.35150167 0.2269188  0.32703003 0.53726363
 0.96329255 1.        ]
Sütun 'Standardized Mean Temp' için eşsiz değerler: [0.44871795 0.32051282 0.50961539 0.19230769 0.06410256 0.33653846
 0.23717949 0.25320513 0.29166667 0.3974359  0.5        0.34935897
 0.19871795 0.13461539 0.21794872 1.         0.26602564 0.48076923
 0.37820513 0.43589744 0.         0.46153846 0.29807692 0.15705128
 0.30448718 0.01602564 0.32371795 0.99358974]
Sütun 'Standardized Mean Humidity' için eşsiz değerler: [0.62857143 0.38571429 0.52857143 0.55       0.77142857 0.82857143
 0.96428571 0.87857143 0.82142857 0.21428571 0.71428571 1.
 0.79285714 0.72142857 0.35       0.08571429 0.59285714 0.74285714
 0.26428571 0.39285714 0.6        0.72857143 0.75       0.77857143
 0.46428571 0.67857143 0.58571429 0.09285714 0.        ]
Sütun 'Standardized Max Wind' için eşsiz değerler: [0.     1.     0.5625 0.0625 0.6875 0.75   0.8125 0.5    0.9375 0.625 ]
Sütun '% Moon Visible' için eşsiz değerler: [93.  79.6 70.7 46.7 26.4 16.7  9.9 17.5 35.8 87.5 97.1 71.7 27.6 19.6
 37.3 57.1 65.4 74.8 89.4 99.7 99.3 96.4 91.4 83.7 65.2 54.  41.5 30.3
 39.3 58.2 96.5 99.8]
Sütun 'Start Tem' için eşsiz değerler: [18.3 15.4 23.5 17.3 13.9 16.  14.1 16.1 16.8 17.9 18.4 15.6 14.3 13.1
 15.5 21.7 27.2 19.8 15.8 20.2 21.4 17.2 17.8 12.1 20.1 17.  15.3 17.1
 13.7 12.8 19.5 28.6]
Sütun 'End Temp' için eşsiz değerler: [15.  13.9 11.7  8.   7.4 13.8 12.6 11.1 11.6 16.5 14.6 11.2 10.4 10.
  4.4 23.3  7.8 13.5 14.1  8.8 15.1  7.2 13.6  8.9  9.8  7.   9.9 21.7]
Sütun 'Mean Temp' için eşsiz değerler: [16.65 14.65 17.6  12.65 10.65 14.9  13.35 13.6  14.2  15.85 17.45 15.1
 12.75 11.75 13.05 25.25 13.8  17.15 15.55 16.45  9.65 16.85 14.3  12.1
 14.4   9.9  14.7  25.15]
Sütun 'Humid Start' için eşsiz değerler: [61 50 54 48 44 71 82 85 78 35 58 69 63 26 21 53 65 28 60 52 20 17]
Sütun 'Humid End' için eşsiz değerler: [65 42 58 67 71 75 72 88 83 82 33 80 96 76 61 29 68 77 47 69 86 87 50 79
 31 21]
Sütun 'Mean Humidity' için eşsiz değerler: [63.  46.  56.  57.5 73.  77.  86.5 80.5 76.5 34.  69.  89.  74.5 69.5
 43.5 25.  60.5 71.  37.5 46.5 61.  70.  71.5 73.5 51.5 66.5 60.  25.5
 19. ]
Sütun 'Max Wind' için eşsiz değerler: [0.  1.6 0.9 0.1 1.1 1.2 1.3 0.8 1.5 1. ]
Sütun 'Illumination' için eşsiz değerler: [1675 1145 1830  275  253    0  656  525]
Sütun 'Diptera' için eşsiz değerler: [ 23.  21.   8.   4.   2.   0.   5.   3. 212.  51.  73.  30.  11.  12.
  13.  38.   6.   9.   1.  10.  14.  16.  26.   7.  24.  20.  40.  32.
  31.  15.  63.  69. 107. 216.  22.  54.  36.  17.  52.  nan  64. 111.
  84.  46.  82.  71.  19.  33.  25. 154.  87.  28. 161. 213.  27.  37.]
Sütun 'Hymenoptera' için eşsiz değerler: [ 0.  2.  1.  4.  3.  5. 12. nan  9.  6.  7.]
Sütun 'Hemiptera' için eşsiz değerler: [ 0.  1.  2.  3. nan  9.  6.  4. 11. 15.  8.]
Sütun 'Psocoptera' için eşsiz değerler: [ 0.  2.  1. nan  9.  3.]
Sütun 'Coleoptera' için eşsiz değerler: [ 0.  1.  2.  4.  6. nan  9.  3.  8.]
Sütun 'Collembola' için eşsiz değerler: [ 1.  0.  2.  3.  6. 12.  8. 10. 15.  7.  4. 11. 31.  5. 17. nan 14. 16.]
Sütun 'Arachnid' için eşsiz değerler: [ 0.  1.  4.  2.  3.  6. 11. nan  8.]
Sütun 'Thysanura' için eşsiz değerler: [ 0.  2.  4.  5.  1.  3. nan]
Sütun 'Isoptera' için eşsiz değerler: [ 0.  1. nan  3.  2.  4.]
Sütun 'Lepidoptera' için eşsiz değerler: [ 0.  2.  4.  1.  3.  7.  9.  5.  8. 34. nan  6. 10. 17. 30. 20. 19. 64.
 40. 60.]
Sütun 'Neuroptera' için eşsiz değerler: [ 0.  1. nan  2.  3.  5.]
Sütun 'Larave' için eşsiz değerler: [ 0. nan  1.]
Sütun 'Orthoptera' için eşsiz değerler: [ 0. nan  1.]
Sütun 'Unident' için eşsiz değerler: [ 0.  1.  2. nan]
Sütun 'Total' için eşsiz değerler: [ 24.  23.  11.   9.   6.   2.   7.   4.   3.   1. 221.  56.  91.  33.
  20.  19.  44.  27.   5.  15.  16.  29.  36.  10.  14.   0.  22.  28.
   8.  41.  51.  32.  80.  40.  31.  70.  75.  74. 111. 222.  26.  25.
  13.  12.  18.  65.  73.  50.  35. 105.  nan  21.  45.  87.  17.  34.
 123.  54. 121.  39.  43.  38.  30. 172. 101.  46. 199. 313.  48.  97.
 140.]
Sütun 'Other Orders' için eşsiz değerler: [ 1.  2.  3.  5.  4.  0.  9. 16.  6. 13.  8. 12. 11. 19. 15. 10. 17. 40.
 14.  7. nan 38. 21. 20.]

In [65]:
df = pd.get_dummies(df,columns=['Light Type','Model Lamp','Location','Site'],drop_first=True, dtype=int)

In [66]:
df.head()

,Standardized Moon,Standardized Mean Temp,Standardized Mean Humidity,Standardized Max Wind,% Moon Visible,Start Tem,End Temp,Mean Temp,Humid Start,Humid End,Mean Humidity,Max Wind,Illumination,Diptera,Hymenoptera,Hemiptera,Psocoptera,Coleoptera,Collembola,Arachnid,Thysanura,Isoptera,Lepidoptera,Neuroptera,Larave,Orthoptera,Unident,Total,Other Orders,Light Type_B,Light Type_C,Light Type_CFL,Light Type_LED,Light Type_No,Model Lamp_3500 Custom,Model Lamp_CFL,Model Lamp_CFL2,Model Lamp_LED,Model Lamp_LED2,Model Lamp_No,Location_LK,Location_Stunt,Site_B2,Site_B3,Site_B4,Site_B5,Site_B6,Site_L1,Site_L2,Site_L3,Site_L4,Site_L5,Site_L6,Site_S1,Site_S2,Site_S3,Site_S4,Site_S5,Site_S6
0,0.92436,0.448718,0.628571,0.0,93.0,18.3,15.0,16.65,61,65,63.0,0.0,1675,23.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,1.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0.92436,0.448718,0.628571,0.0,93.0,18.3,15.0,16.65,61,65,63.0,0.0,1145,21.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,2.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0.92436,0.448718,0.628571,0.0,93.0,18.3,15.0,16.65,61,65,63.0,0.0,1830,8.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,11.0,3.0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0.92436,0.448718,0.628571,0.0,93.0,18.3,15.0,16.65,61,65,63.0,0.0,275,4.0,0.0,1.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,5.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0.92436,0.448718,0.628571,0.0,93.0,18.3,15.0,16.65,61,65,63.0,0.0,253,2.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,4.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [67]:
imputer = KNNImputer(n_neighbors=3)

In [76]:
df_imputed = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

In [87]:
y = df_imputed['Total']
x = df_imputed.drop(columns=['Total'])

In [104]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.5,random_state=10)

In [122]:
lr = LinearRegression()
model = lr.fit(x_train,y_train)
model.score(x_test,y_test)

1.0

In [105]:
rf = RandomForestRegressor(n_estimators=200)
model = rf.fit(x_train,y_train)
model.score(x_test,y_test)

0.9302688489954171